#cv-form{
    display: none;
}

.myimg{
    
    border-radius: 50%;
}

.background{
    background-color: violet;
}


#templete-1-print
{
    display: none;
}


#templete-2-print
{
    display: none;
}

