@import "mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

// Styles for search bar on Home Page
input[type="search"]
{
    border-radius: 0.8rem;
    height: 2.5rem;
    width: 10rem;
    float: left;
    text-align: left;
}

#backgroundImage
{
    width: 100vw;
    height: 100vh;
}

.login, .signup
{
    list-style: none;
}

#modalButton
{
    display: none;
}


//style for user profile at nav bar
.profile-div-nav{
    width: 2.5rem;
}


.profile-div-nav .user-profile-nav{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

}

// Home page nav bar styles..................
nav{
    // box-shadow: 1px 2px 4px rgb(99, 93, 93);
    background-color:#ffffff;
    height: 4.2rem;
    box-sizing: border-box;
    font-family: "Montserrat",sans-serif;
    border-bottom: 1px solid rgba(179, 176, 176,0.2);
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link ,.navbar-light .navbar-brand,.navbar-light .navbar-nav .nav-link
    {
    @include navBarStyles();
}

.navbar-collapse ul li a{
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-left: 2rem;
    margin-right: 2rem;
    transition: all 0.3s ease 0s;
 

}
.navbar-collapse ul li a:hover{
   background-color: #04054b;

}
.navbar-light .navbar-nav .nav-link:hover{
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
 
}
.navbar-collapse ul li a:after{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #0b1652b4;
    visibility: none;
    opacity: 0;
    z-index: -1;
}
.navbar-collapse ul li a:hover:after{
    opacity: 1;
    visibility: visible;
    height: 100%;
}

// dropdown nav
.dropdown-nav{
    width: 1rem;
}

// Toggle button at nav bar
.toggle-button{
    width: 1rem;
    height: 1.5rem;
    background-color: #a8a8a8;
    padding: 0;
}

// Toggle button at settings page
.settings-dropdown-nav{
    width: 1rem;
}
.settings-toggle-button .btn{
    width: 1rem;
    height: 1.5rem;
    background-color: #fcf4f4;
    padding: 0;
}

//----------------------        Main Page       -----------------
.main-page
{
    display: flex;
    margin-top: 2px;
    background-color: #fffbfb;
}

.library-sub-title1
{
    box-sizing: border-box;
    font-size: x-large;
    margin-left: 2rem;
    padding: 0.2rem;
    font-style: unset;
    margin-bottom:0 ;
    font-weight: 600;
    color: #180707;
    margin-top: 1rem;
}
 
// ----------------------       Main Content Styles     ----------------------------


.main-content
{
    flex: 85%;
    // flex-wrap: wrap;
    // border: 1px solid red;
    // flex-direction: row;

}

.inside-main-content
{
    display: flex;
    margin: 3px;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: start;

}

.resource-box
{
    height: auto;
    width: 9rem;
    max-height: 45%;
    text-align: left;
    line-height: 1rem;
    background-color: #fffbfb;
    font-family: sans-serif;
    font-size: small;
    text-overflow: ellipsis;
    margin: 1rem;
    border-radius: 0.6rem;
    cursor: pointer;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}

.resource-box:hover{
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
}

 

.resource-box p
{
    color: $singer-name-color;
    margin-bottom: 0;
    text-align: left;
}

// .carousel-inner .carousel-control-next:hover,.carousel-inner .carousel-control-prev:hover{
//   @include carouselEffects();
// }


 
//  ----------------------------    Register Page Styles Starts    --------------------------

.registerPage-outer-border, .loginPage-outer-border
{
    @include registerPage-outer-border;
}

.registerPage-left-side, .loginPage-left-side
{
    @include registerPage-left-side();
}

.registerPage-right-side, .loginPage-right-side
{
    @include registerPage-right-side();
}

.registerPage-logo, .loginPage-logo
{
    @include registerPage-logo();
}

.registerPage-logo-text, .loginPage-logo-text
{
    @include registerPage-logo-text();
}

.registerPage-celeb-image, .loginPage-celeb-image
{
    @include Class-registerPage-celeb-image();
}

#registerPage-celeb-image, #loginPage-celeb-image
{
    @include ID-registerPage-celeb-image();
}

@mixin RegisterPage-fontStyle {
    text-align: center;
    display: block;
    font-size: 2rem;
}

// "div h2" is not having a mixin
div h2
{
    @include RegisterPage-fontStyle();
    font-weight: bold;
    color: #FFFFFF;
    line-height: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

// "div em" is not having a mixin
div em
{
    font-weight: 500;
    @include RegisterPage-fontStyle();
    color: #928e8c;
    font-size: x-large;
    font-family: sans-serif;
}


// Styles for Right Side of Register Page


.registerPage-login-button, .loginPage-login-button
{
    @include registerPage-login-button();
}

#login-text
{
    @include ID-login-text();
}

.registerPage-rightSide-text, .loginPage-rightSide-text
{
    @include registerPage-rightSide-text();
}

.input-boxes
{
    @include input-boxes();
}

// Not having a mixin
.input-boxes p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    color: #0056C2;
}

@mixin InputBoxStyle 
{
	width: 30rem;	
	height: 3rem;
	border-width: 0.01rem;
	text-align: center;
	color: black
}

input
{
	@include InputBoxStyle();
}

.form-control
{
    @include form-control();
}

// Not having a mixin
input:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 0.3rem #719ECE;
}

// Not having a mixin
textarea:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 0.3rem #719ECE;
}

.btn-block
{
    @include btn-block();
}

//  ----------------------------    Register Page Styles Ends    ----------------------------

//  ----------------------------    Login Page Style Starts      --------------------------


// NOTE: The styles of Login Page are same as Register Page therefore mixins of "Register Page" are used.


// Styles for Right Side of Login Page

.btn-block
{
    @include btn-block();
}

//--------------------------------      Login Page Style Ends       --------------------------



/*validation for registration and log in */
$Error-border-color: rgb(230, 7, 7);
$Success-border-color: #44f321;
.error{
	display: none;
	margin-left: 10px;
}		


.error_show{
	color: $Error-border-color;
	margin-left: 10px;
}
#userId.invalid, #userPassword.invalid, #name.invalid, #email.invalid, #confirmPassword.invalid{
    box-shadow: none;
    outline: $Error-border-color;
	border: 0.01rem solid  $Error-border-color;
}


// input.valid, textarea.valid{
// 	 border: 0.01rem solid $Success-border-color;
//     //box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #5BFF3B;
// }

.error
{
    font-size: small;
    line-height: 01rem;
}

 

 //---------------------------------STARTING User Profile container -------------------------------------//
    .container{
        align-items: center;
        overflow: hidden;
    }
    //------------Profile Image --------//
/*.profile-img{
        width: 120px;
        height: 120px;;
        border-radius:50%; 
        float: right;
        filter: drop-shadow(5px 5px 5px black);
    } */
    
    //------------Profile Image --------//
.profile-img img{
        @include profileImg();
    }
    
.custom-file input[type='file']{
        display: none;
    }
    .custom-file label{
        cursor: pointer;
        float: right;
        margin-top: 15px;
        margin-right: 10px;
    }  
.profile-name{ 
        display: flexbox;
        float: left;
        margin-top: 1rem;
        height: 120px;
        .name{
                text-transform: capitalize;
                @include fontstylename();
                float: bottom;
             }
       
}
    //aligning the left panel of user profile
.v1{
    border-left: 2px solid lightseagreen;
    height: 95%;
    position: absolute;
    left:20rem;
    margin-left: 1em;
    top:10px
}
.hr1{
    width:50%;
    margin-left:0%;
}
.left-content{
       text-align: justify;
        margin-left: 10px;
    }
    
.left-content h3{
        font-weight: 100;
        line-height: 2.1;
        color: black;
    }
    // giving hover effect to the options on left panel of user profile 
.left-content .change-pwd:hover ,.side-bar:hover{
    @include hoverEffects();
}
.left-content a:active {
     h3{
          color: lightblue;
       }
}

.left-content a{
    @include removeEffects();
}
.right-content{
       left: -120px; 
}
     // setting size of labels in user profile
label{
        font-size: 1.5rem;
    
    }
 
    // input tag manipulation of profile
.right-content input[type=number],input[type=password],input[type=text]{
      @include Userinputs();
      border-radius: 1rem;
      padding: 1.5em;
      border-color: grey;
      text-align: left;
    }
.left-content a:visited{
    @include visitedLink();
}


// for hiding and showing div
#passwordDiv{
    display: none;
}
    /////--------------- END of User Profile -----------//////

